image72: &image-72
  docker:
  - image: circleci/php:7.2-apache-stretch-node-browsers


image73: &image-73
  docker:
    - image: circleci/php:7.3-apache-stretch-node-browsers

restore-72-cache: &restore-72-cache
  restore_cache:
      keys:
      - v1-72-dependencies-{{ checksum "composer.lock" }}
      - v1-72-dependencies-

restore-73-cache: &restore-73-cache
  restore_cache:
    keys:
      - v1-73-dependencies-{{ checksum "composer.lock" }}
      - v1-73-dependencies-

save-72-cache: &save-72-cache
  save_cache:
    key: v1-72-dependencies-{{ checksum "composer.lock" }}
    paths:
    - vendor

save-73-cache: &save-73-cache
  save_cache:
    key: v1-73-dependencies-{{ checksum "composer.lock" }}
    paths:
      - vendor

composer-install: &composer-install
  run:
    name: Composer install
    command: composer install  --no-interaction --no-scripts --prefer-dist
    
composer-update-lowest: &composer-update-lowest
  run:
    name: Downgrade to lowest packages
    command: composer update --prefer-lowest

composer-update: &composer-update
  run:
    name: Updrade to highest packages
    command: composer update --prefer-lowest

ci: &ci
  run:
    name: Run CI
    command: composer ci

store-test-results: &store-test-results
  store-test-results:
    path: reports
    
store-artifacts: &store-artifacts
  store-artifacts:
    path: reports




version: 2

jobs:


  build-72-lowest:
    <<: *image-72

    steps:
      - checkout
      - *restore-72-cache
      - *composer-install
      - *save-72-cache
      - *composer-update-lowest
      - *ci
      - *store-test-results
      - *store-artifacts

  build-72-current:
    <<: *image-72

    steps:
      - checkout
      - *restore-72-cache
      - *composer-install
      - *save-72-cache
      - *ci
      - *store-test-results
      - *store-artifacts

  build-72-highest:
    <<: *image-72

    steps:
      - checkout
      - *restore-72-cache
      - *composer-install
      - *save-72-cache
      - *composer-update
      - *ci
      - *store-test-results
      - *store-artifacts


  build-73-lowest:
    <<: *image-73

    steps:
      - checkout
      - *restore-73-cache
      - *composer-install
      - *save-73-cache
      - *composer-update-lowest
      - *ci
      - *store-test-results
      - *store-artifacts

  build-73-current:
    <<: *image-73

    steps:
      - checkout
      - *restore-73-cache
      - *composer-install
      - *save-73-cache
      - *ci
      - *store-test-results
      - *store-artifacts

  build-73-highest:
    <<: *image-73

    steps:
      - checkout
      - *restore-73-cache
      - *composer-install
      - *save-73-cache
      - *composer-update
      - *ci
      - *store-test-results
      - *store-artifacts



  security:
    <<: *image-73

    steps:
      - checkout
      - *restore-73-cache
      - *composer-install
      - *save-73-cache
      - run:
          name: Run security check
          command: composer security

workflows:
  version: 2
  commit:
    jobs:
      - build-72-lowest
      - build-72-current
      - build-72-highest
      - build-73-lowest
      - build-73-current
      - build-73-highest
      - security

  security-check:
    triggers:
      - schedule:
          cron: "33 12 * * *"
          filters:
            branches:
              only: master

    jobs:
      - security
